body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #1e1e1e, #333);
    color: white;
    text-align: center;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: #222;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
}

button {
    margin: 8px;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    background: #00bcd4;
    color: black;
}

h1 {
    margin-bottom: 20px;
}

#quizArea {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
